.drawer {
  position: absolute;
  top: 0;
  left: -400px;
  z-index: 10000;
  width: 400px;
  background-color: white;
  height: 100vh;
  transition: left 0.2s ease-out;
  overflow: auto;
}
.drawer.open {
  left: 0;
}
.drawer.open.wide {
  width: 95vw;
}

.close-button {
  display: flex;
  flex-direction: row;
  cursor: pointer;
  padding: 0.25rem;
  font-weight: 600;
  font-size: 0.9rem;
}

.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;

  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
}

.spacer {
  flex-grow: 1;
}

@media (max-width: 768px) {
  .drawer {
    width: 300px;
  }
}
